/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
}

.navbar {
    border-radius: 0;
}

/*Rating bar*/
section.rating > .md-button {
    margin: 0 !important;
    padding: 0 !important;
    height: 25px;
    width: 25px;
}

section.rating .md-button md-icon {
    color: cornflowerblue;
}
