<div class="jumbotron text-center">
    <div layout="row" layout-align="space-around center">
       <div layout="column"><div layout-align="start start"> Name</div> <h2 class="md-title">{{tournament.name}}</h2> </div>
       <div><label>Description</label><h2 class="md-title">{{tournament.description}}</h2></div>
       <div><label>System</label><h2 class="md-title">{{tournament.system}}</h2></div>

    </div>


    <div layout="row" layout-align="space-between">
        <h2 class="md-title">Tournament table</h2>
        <div flex-offset-gt-sm="5" layout="row" layout-align="end center" flex-gt-sm="25">

            <md-button class="md-block md-raised md-primary" ng-click="addPlayers()"> Add Player</md-button>

            <md-button class="md-block md-raised md-primary" ng-click="getCurrentFocus()">Add/Edit players games
            </md-button>

        </div>
    </div>
    <md-divider></md-divider>
    <br>
    <div>  <!--data-ng-controller="TournamentCtrl">-->
        <div data-ui-grid="gridOptions" ui-grid-cellnav ui-grid-edit
             class="md-whiteframe-2dp grid-height-65 no-filter-input" flex data-ui-grid-auto-resize></div>
    </div>


    <div layout="row" layout-align="space-between">
        <h2 class="md-title">Finish tournament</h2>
        <div flex-offset-gt-sm="5" layout="row" layout-align="end center" flex-gt-sm="25">

            <md-button class="md-block md-raised md-primary" ng-click="saveTournament()" ng-disabled="tournamentEnd()"> Save Tournament</md-button>

        </div>
    </div>
</div>