<div class="jumbotron text-center">
    <div layout="row" layout-align="space-around center">
       <div layout="column"><label>Name</label><h2 class="md-title">{{tournament.name}}</h2> </div>
       <div><label>Description</label><h2 class="md-title">{{tournament.description}}</h2></div>
       <div><label>System</label><h2 class="md-title">{{tournament.system}}</h2></div>
        <md-button class="md-block md-raised md-primary" ng-click="editTournamentDescription()" ng-hide="tournament.tournamentFinished"
        > Edit Tournament description
        </md-button>
    </div>


    <div layout="row" layout-align="space-between">
        <h2 class="md-title">Tournament table</h2>
        <h2 class="md-title">Games: {{tournament.gameDtos.length}} / {{gamesAmountInTournament}}</h2>
        <div flex-offset-gt-sm="5" layout="row" layout-align="end center" flex-gt-sm="50">

            <md-button class="md-block md-raised md-primary" ng-click="addPlayers()" ng-hide="tournament.tournamentFinished"> Add Player</md-button>

            <md-button class="md-block md-raised md-primary"  ng-click="getCurrentFocus()">{{tournament.tournamentFinished ? 'Review games' : 'Add/Edit players games'}}
            </md-button>

        </div>
    </div>
    <md-divider></md-divider>
    <br>
    <div>
        <div data-ui-grid="gridOptions" ui-grid-cellnav ui-grid-edit
             class="md-whiteframe-2dp grid-height-65 no-filter-input" flex data-ui-grid-auto-resize></div>
    </div>


    <div layout="row" layout-align="space-between">
        <h2 class="md-title">Finish tournament</h2>
        <div flex-offset-gt-sm="5" layout="row" layout-align="end center" flex-gt-sm="25">

            <md-button class="md-block md-raised md-primary" ng-click="saveConfirm()" ng-disabled="tournamentEnd()" ng-hide="tournament.tournamentFinished"> Save Tournament</md-button>

        </div>
    </div>
</div>

