<div class="jumbotron text-center">

    <div layout="row" layout-align="left">
        <h2 class="md-title">{{gameId ? 'Editing a Game' : 'Add new Game'}}</h2>
    </div>
    <md-divider></md-divider>
    <br>

    <form name="GameForm">

        <div layout-gt-xs="row" layout-align="space-between">
            <md-input-container class="md-block" flex-gt-xs>
                <label>White Player Id</label>
                <input name="WhiteIdInput" ng-model="gameModel.whiteId" md-maxlength="60" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
                <label>Black Player Id</label>
                <input name="BlackIdInput" ng-model="gameModel.blackId" md-maxlength="60" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
                <label>Winner Id</label>
                <input name="WinnerIdInput" ng-model="gameModel.winnerId" md-maxlength="60" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
                <label>Result</label>
                <input name="ResultInput" ng-model="gameModel.result" md-maxlength="60" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
                <label>Start time</label>
                <input name="StartInput" ng-model="gameModel.start" md-maxlength="60" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
                <label>End time</label>
                <input name="endInput" ng-model="gameModel.end" md-maxlength="60" required>
            </md-input-container>



        </div>

    </form>
    <section layout="row" layout-sm="column" layout-align="left center" layout-wrap>
        <md-button ng-disabled="isSaveDisabled()" ng-click="saveConfirm()" class="md-raised md-primary">Save</md-button>
        <md-button class="md-raised md-warn" ng-click="cancel()">Cancel</md-button>
    </section>

</div>